[submodule "subprojects/libela"]
	path = subprojects/libela
	url = git@github.com:vricosti/libela.git
[submodule "subprojects/librudp"]
	path = subprojects/librudp
	url = git@github.com:vricosti/librudp.git
